# Apotheosis Adventure Module Config

affixes {
    S:"Equipment Type Overrides" <
        minecraft:iron_sword|sword
        minecraft:shulker_shell|none
     >

    S:"Random Affix Chance"=0.075
    S:"Gem Drop Chance"=0.045
    S:"Gem Boss Bonus"=0.33
    B:"Cleave Players"=false

    S:"Affix Item Loot Rules" <
        minecraft:chests.*|0.35
        .*chests.*|0.3
        twilightforest:structures.*|0.3
     >

    S:"Affix Convert Loot Rules" <
        .*blocks.*|0
        .*|0.35
     >

    S:"Affix Convert Rarities" <
        overworld|common|common
        the_nether|uncommon|uncommon
        ad_astra:moon|rare|rare
        ad_astra:mercury|rare|rare
        ad_astra:mars|rare|rare
        ad_astra:venus|rare|rare
        ad_astra:glacio|heirloom|heirloom
        deeperdarker:otherside|epic|epic
        the_end|mythic|mythic
        forge_frontier:forlorn_hollows|artifact|artifact
        forge_frontier:abyssal_chasm|artifact|artifact
        forge_frontier:primordial_caves|artifact|artifact
        forge_frontier:magnetic_caves|esoteric|esoteric
        forge_frontier:toxic_caves|esoteric|esoteric
        forge_frontier:candy_cavity|esoteric|esoteric
     >

    B:"Disable Quark Tooltips for Affix Items"=true
    S:"Torch Placement Item"=minecraft:torch
}

gems {
    S:"Gem Loot Rules" <
        minecraft:chests.*|0.25
        .*chests.*|0.20
        twilightforest:structures.*|0.20
     >

    S:"Gem Dimensional Rarities" <
        overworld|common|common
        the_nether|uncommon|uncommon
        ad_astra:moon|rare|rare
        ad_astra:mercury|rare|rare
        ad_astra:mars|rare|rare
        ad_astra:venus|rare|rare
        ad_astra:glacio|heirloom|heirloom
        deeperdarker:otherside|epic|epic
        the_end|mythic|mythic
        forge_frontier:forlorn_hollows|artifact|artifact
        forge_frontier:abyssal_chasm|artifact|artifact
        forge_frontier:primordial_caves|artifact|artifact
        forge_frontier:magnetic_caves|esoteric|esoteric
        forge_frontier:toxic_caves|esoteric|esoteric
        forge_frontier:candy_cavity|esoteric|esoteric
     >
}

bosses {
    B:"Curse Boss Items"=false
    S:"Boss Announce Range"=96.0
    S:"Boss Announce Volume"=0.75
    B:"Boss Announce Ignore Y"=false
    I:"Boss Spawn Cooldown"=600
    B:"Boss Auto-Aggro"=false
    B:"Boss Glowing On Spawn"=true

    S:"Boss Spawn Dimensions" <
        minecraft:overworld|0.018|NEEDS_SKY
        minecraft:the_nether|0.025|ANY
        minecraft:the_end|0.018|SURFACE_OUTER_END
        ad_astra:moon|0.018|NEEDS_SKY
        ad_astra:mercury|0.018|NEEDS_SKY
        ad_astra:mars|0.018|NEEDS_SKY
        ad_astra:venus|0.018|NEEDS_SKY
        ad_astra:glacio|0.018|NEEDS_SKY
        deeperdarker:otherside|0.025|ANY
        forge_frontier:forlorn_hollows|0.018|NEEDS_SKY
        forge_frontier:abyssal_chasm|0.018|NEEDS_SKY
        forge_frontier:primordial_caves|0.018|NEEDS_SKY
        forge_frontier:magnetic_caves|0.018|NEEDS_SKY
        forge_frontier:toxic_caves|0.018|NEEDS_SKY
        forge_frontier:candy_cavity|0.018|NEEDS_SKY
     >

    S:"Boss Announce Sounds" <
        block.end_portal.spawn
     >
}

worldgen {
    S:"Generation Dimension Whitelist" <
        overworld
     >
}

spawners {
    S:"Spawner Value Chance"=0.11
}
